@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100; 
}
body {  
    background-image: linear-gradient( to right , #03588C,#04BFAD);
}
h1 {
    text-align: center;
    color: #F25C5C;
    text-shadow: 1px 1px 0px hsl(0, 18%, 36%)
}
h2 {
    color: #270E40;
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #194a5d70;
    width: 600px;
    padding: 10px;
    margin:auto

}
p {
    text-align: justify;
 }
