@charset "UTF-8";
body {
    background-color: rgb(164, 133, 214);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;            
}

h1 {
    color: rgb(226, 189, 43);
}

h2 {
    color: rgb(114, 216, 83);
    background-color: rgb(190, 77, 111);
}
p {
    text-align: justify;
}
h3{
    background-color: #FBA035;
    color: #D42A33;