@charset "UTF-8";

body{
    background-color: rgb(113, 15, 132);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    color: rgb(81, 92, 219);
    text-align: center;
    background-color: azure;
    text-decoration: underline;
    text-shadow: 2px 2px 2px;
}
h1{
    color: rgb(90, 146, 50);
}
h2{
    color: rgb(58, 213, 164);
}
.basico{
    color:crimson ;
}
.intermediario{
    color: rgb(197, 146, 43);
}