@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredericka+the+Great&family=Honk&family=Permanent+Marker&family=Press+Start+2P&family=Qwigley&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'Evilempire';
    src: url('../fontes/evilempire.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0: #c7d6a3;
    --cor1: #bde8d0;
    --cor2: #a0d4b7;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque:'Audiowide';
    --fonte-evilempire: 'evilempire', arial;
 }

body{
    background-color:var(--cor0);
    font-family:var(--fonte-padrao);
}
a.externo:after {
    content: 	'\00A0\1F517';
}


header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{   
    color: white;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.416);
    font-weight: normal;
}

header > p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 687px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    margin-bottom: 29px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px;
    transition-duration: 0.7s;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 0 10px ;
    background-color: white;
    
}

main  h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.8em;
}

main  h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, rgb(129, 244, 194), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    text-align: 1em;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20;
    padding: 28%;
    border-radius: 10px;
    margin-bottom: 4%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main img {
    width: 100%;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(232, 91, 119);
    padding: 2px 5px;
        
}
main a:hover{

    color:blue;
    text-decoration: underline;
}
img#bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.302);
    border-radius: 10px;
}
aside > ul {
    list-style-position: inside;    
    columns: 2;
    list-style-type:'\2714\00A0';
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 6px;
}
footer > p > a {
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color:rgb(111, 221, 111) ;
}